#elements {
    min-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#elements #header {
    width: 100%;
    min-width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 67, 54);
    border-bottom: 3px solid rgb(173, 153, 153);
}

#elements #header #NameBlock {
    max-width: 50%;
    display: flex;
    height: 30px;
    flex-direction: row;
}

#elements #header #NameInput {
    margin-left: 10px;
    font-size: 14pt;
}

#elements #header #NameTitle {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 16pt;
}

#elements #header #AuthorAndEditBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    height: 50px;
    top: 3px
}

#elements #header #AuthorAndEditBlock #AuthorName {
    color: rgb(0, 255, 0);
}

#elements #header #AuthorAndEditBlock #EditName {
    color: rgb(96, 0, 252);
}

#elements #header #BackToList {
    position: absolute;
    right: 13px;
    transition: all.3s ease;
    height: 24px;
    width: 24px;
    background-image: url(../../image/exit-active.svg);
    background-repeat: no-repeat;
}

#elements #header #BackToList:hover {
    transition: all.3s ease;
    height: 24px;
    width: 24px;
    background-image: url(../../image/exit.svg);
    background-repeat: no-repeat;
}

#elements #ComentBlock {
    width: 70%;
    min-width: 400px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

#elements #ComentBlock #ComentAddPanel {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 67, 54);
    border-radius: 0px 0px 10px 10px;
}

#elements #ComentBlock #ComentAddPanel #ComentName {
    width: 40%;
    height: 32px;
    resize: none;
}

#elements #ComentBlock #ComentAddPanel #ComentButton {
    width: 20%;
    height: 34px;
}

#elements #ComentBlock #ComentBody {
    max-height: 400px;
    overflow: auto;
}

#elements #ComentBlock #ComentList {
    list-style-type: none;
    max-height: 400px;

}

#elements #ComentBlock #ComentList li {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    padding-left: 2px;
    align-items: center;
    border: 1px solid silver;
    background-color: rgb(238, 238, 238);
}

#elements #ComentBlock #ComentList li #InfoAndRemome{
    display: flex;
    flex-direction: row;
}
#elements #ComentBlock #ComentList li #InfoAndRemome #RemoveComent{
    display: flex;
    position: relative;
    right: 0;
    background-image: url(../../image/unchecked.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: 10px;
    opacity: 0.3;
    transition: all.6s ease;
}

#elements #ComentBlock #ComentList li #InfoAndRemome #RemoveComent:hover {
    opacity: 1;
    background-image: url(../../image/unchecked.svg);
    transition: all.6s ease;
}

#elements #ComentBlock #ComentList li #InfoAndRemome #ComentInfo{
    background-image: url(../../image/info.svg);
    transition: all.6s ease;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: 8px;
    background-position-y: 8px;
}

#elements #ComentBlock #ComentList li #InfoAndRemome #ComentInfo:hover {
    transition: all.6s ease;
    background-size: 24px;
    background-position-x: 4px;
    background-position-y: 4px;
    display: block;
}

#elements #ComentBlock #ComentList li #InfoAndRemome #ComentInfo:hover #cInfo {
    transition: all.6s ease;
    display: block;  
}


#elements #ComentBlock #ComentList li #InfoAndRemome #ComentInfo #cInfo{
    font-size: 12pt;
    min-height: 36px;
    min-width: 180px;
    padding: 0px 4px;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    border: 1px solid silver;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 7px 7px 7px;
    margin-top: 26px;
    margin-left: 20px;
    display: none;
    z-index: 15;
    color: black;
    transition: all.6s ease;
}

#elements #ComentBlock #ComentList li #InfoAndRemome #ComentInfo #cInfo #date{
    color: rgb(0, 132, 255);
}

