#main-coment {
    width: 100%;
}

#elements {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#elements #header {
    width: 100%;
    min-width: 600px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 67, 54);
    border-bottom: 3px solid rgb(173, 153, 153);
}

#elements #header #name-block {
    max-width: 50%;
    display: flex;
    height: 30px;
    flex-direction: row;
}

#elements #header #name-input {
    margin-left: 10px;
    font-size: 14pt;
}

#elements #header #name-title {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 16pt;
}

#elements #header #author-and-edit-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 50px;
    height: 50px;
    top: 3px
}

#elements #header #author-and-edit-block #author-name {
    color: rgb(0, 255, 0);
}

#elements #header #author-and-edit-block #edit-name {
    color: rgb(96, 0, 252);
}

#elements #header #back-to-list {
    position: absolute;
    right: 13px;
    transition: all.3s ease;
    height: 24px;
    width: 24px;
    background-image: url(../MainPage/image/exit-active.svg);
    background-repeat: no-repeat;
}

#elements #header #back-to-list:hover {
    transition: all.3s ease;
    height: 24px;
    width: 24px;
    background-image: url(../MainPage/image/exit.svg);
    background-repeat: no-repeat;
}

#elements #coment-block {
    width: 70%;
    min-width: 400px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
}

#elements #coment-block #coment-add-panel {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(244, 67, 54);
    border-radius: 0px 0px 10px 10px;
}

#elements #coment-block #coment-add-panel #coment-name {
    width: 40%;
    height: 32px;
    resize: none;
}

#elements #coment-block #coment-add-panel #coment-button {
    width: 20%;
    height: 34px;
}

#elements #coment-block #coment-body {
    max-height: 400px;
    overflow: auto;
    position: relative;
}

#elements #coment-block #coment-list {
    list-style-type: none;
    max-height: 400px;
    overflow: auto;
}

#elements #coment-block #coment-list li {
    display: flex;
    justify-content: space-between;
    min-height: 36px;
    padding-left: 2px;
    align-items: center;
    border: 1px solid silver;
    background-color: rgb(238, 238, 238);
}

#elements #coment-block #coment-list li .info-and-remome {
    display: flex;
    flex-direction: row;
}

#elements #coment-block #coment-list li .info-and-remome .remove-coment {
    display: flex;
    position: relative;
    right: 0;
    background-image: url(../MainPage/image/unchecked.svg);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: 10px;
    opacity: 0.3;
    transition: all.6s ease;
}

#elements #coment-block #coment-list li .info-and-remome .remove-coment:hover {
    opacity: 1;
    background-image: url(../MainPage/image/unchecked.svg);
    transition: all.6s ease;
}

#elements #coment-block #coment-list li .info-and-remome .coment-info {
    background-image: url(../MainPage/image/info.svg);
    transition: all.6s ease;
    height: 32px;
    width: 32px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position-x: 8px;
    background-position-y: 8px;
}

#elements #coment-block #coment-list li .info-and-remome .coment-info:hover {
    transition: all.6s ease;
    background-size: 24px;
    background-position-x: 4px;
    background-position-y: 4px;
    display: block;
}

#elements #coment-block #coment-list li .info-and-remome .coment-info:hover .c-info {
    transition: all.6s ease;
    display: block;
}

#elements #coment-block #coment-list li .info-and-remome .coment-info .c-info {
    font-size: 12pt;
    min-height: 36px;
    width: max-content;
    padding: 0px 4px;
    display: flex;
    position: absolute;
    z-index: 5;
    bottom: 1%;
    right: 30px;
    top: -3px;
    justify-content: center;
    flex-direction: column;
    border: 1px solid silver;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    display: none;
    color: black;
    transition: all.6s ease;
}

#elements #coment-block #coment-list li .info-and-remome .coment-info .c-info .date {
    color: rgb(0, 132, 255);
}