#list {
    width: 100%;
}

#list li {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    position: relative;
}

#list li:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

#list li:nth-child(odd) {
    background-color: rgb(249, 249, 249);
}

#list .name{
    font-size: 22px;
    font-family: sans-serif; 
}

#list li input[type='checkbox']{
    width: 18px;
    height: 18px;
    margin: 7px
}

#list .delete{
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../image/unchecked.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    background-size: 12px;
    background-position-x: 10px;
    background-position-y: 10px;
    opacity: 0.05;
    transition: all.6s ease;
}

#list .delete:hover{
    opacity: 1;
    background-image: url(../image/unchecked.svg);
    transition: all.6s ease;    
}

#list .complete:nth-child(odd) {
    transition: all.3s ease;
    background-color: rgb(193, 255, 193);
    color: rgb(0, 83, 4);
}

#list .complete:nth-child(even) {
    transition: all.3s ease;
    background-color: rgb(105, 241, 105);
    color: rgb(0, 83, 4);
}